<%= notice%>

<h1> Sign in </h1>
<form action= "/sessions/create">
  <label for= "email"> Email: </label>
  <input id= "email" type= "text" placeholder="Your email here" name= "email">
  <label for="password">Password:</label>
<input id="password" type="password" placeholder="your password here" name="password">
  <input type= "submit">
</form>