<h1>New Person</h1>

<form action="/create_person">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="occupation">occupation</label><br />
    <input id="occupation" name="occupation" type="text" />
  </div>
  <div>
    <label for="email">email</label><br />
    <input id="email" name="email" type="text" />
  </div>
    <div>
    <label for="password">password</label><br />
    <input id="password" name="password" type="password" />
  </div>
  <div>
    <label for="password_confirmation">password_confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </div>
  <div>
    <label for="phone">phone</label><br />
    <input id="phone" name="phone" type="text" />
  </div>
  <div>
    <label for="gradelevel">gradelevel</label><br />
    <input id="gradelevel" name="gradelevel" type="text" />
  </div>
  <div>
    <label for="image">image</label><br />
    <input id="image" name="image" type="text" />
  </div>
  <div>
    <label for="school_id">school_id</label><br />
    <input id="school_id" name="school_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

