<h1>New School</h1>

<form action="/create_school">
  <div>
    <label for="city">city</label><br />
    <input id="city" name="city" type="text" />
  </div>
  <div>
    <label for="neighborhood">neighborhood</label><br />
    <input id="neighborhood" name="neighborhood" type="text" />
  </div>
  <div>
    <label for="state">state</label><br />
    <input id="state" name="state" type="text" />
  </div>
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="description">description</label><br />
    <input id="description" name="description" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

