<h3 class= "indie">
What are the goals of this Web App?
    <ul> 
     <li> Connect teachers and students from all over the country</li>
    <li> Give students a potential friend/role model they may be lacking</li>
   <li>  Let teachers use this resource as an enrichment piece for projects,lessons...etc </li>
  </ul>
  
  
 How does this work?
  <ol>
   <li>   Go to the Teacher/Student page and add new</li>
   <li>   Message a teacher that seems like a good fit for your class</li>
   <li>   On the discussion forum please share what this app did for you class!</li>
  </ol>
</h3>