<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <title>PenpalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="/teachers">Teachers</a></li>
  <li><a href="/students">Students</a></li>
   <li><a href="/messages">Discussion Board</a></li>
</ul>
  
<div class="jumbotron">
  <h1><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTsMhWMh6CfAVCBIYnaBXs07Q5asmcOlQBLuyiscxQcfiRdsYhG"></h1>
  <p>...teachers need a safe place to find pen pals from your local community or anywhere in the country...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
<%= yield %>

</body>
</html>
